.profile__about {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFF;
    margin: 7px 0 0 0;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

}

@media screen and (max-width: 700px) {
    .profile__about {
        font-size: 14px;
        line-height: 17px;
    }
}

@media screen and (max-width: 575px) {
    .profile__about {
        margin-top: 8px;
        align-self: center;
    }
}